<div class="container-xl">
    <div class="table-responsive" style="overflow: hidden;">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b><p>Manage Contacts</p></b></h4>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead> 
            <tr class="center-align" style="text-align: center;">
              <th>Name</th>
              <th>E-mail</th>
              <th>Phone</th>
              <th>Address</th>              
              <th>Gender</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contacts of contactsList" class="center-align">
              <td>{{ contacts.name }}</td>
              <td>{{ contacts.email }}</td>
              <td>{{ contacts.phone }}</td>
              <td>{{ contacts.address }}</td>
              <td>{{ contacts.gender }}</td>
              <td>
                <button type="button" (click)="deleteContact(contacts.id)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
                <!-- <button type="button" (click)="updateContact(contacts.id)" class="btn"><i class='fas fa-trash-alt edit'></i></button> -->
              </td>
            </tr>
            <tr>
              <td *ngIf="contactsList.length == 0" colspan="5">No Contact Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--CREATE FORM -->
  <div class="container-xl">
    <div class="table-responsive" style="overflow: hidden;">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>New Contact</b></h4>
            </div>
          </div>
        </div>
        <form #contactForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" maxlength="255"
                  [(ngModel)]="addContactForm.name" name="name" #name="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="email" class="p-t-b-10">Email</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="email" maxlength="255"
                  [(ngModel)]="addContactForm.email" name="email" #email="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Phone</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="phone" maxlength="10"
                  [(ngModel)]="addContactForm.phone" name="phone" #phone="ngModel" pattern="^\d{3}\d{3}\d{4}$">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Address</label>
              </div>
              <div class="col-sm-9">
                <textarea class="form-control" id="address" [(ngModel)]="addContactForm.address" name="address"
                  #address="ngModel">></textarea>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Gender</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="gender" required [(ngModel)]="addContactForm.gender" name="gender"
                  #gender="ngModel">
              </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="AddContact()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--EDIT FORM -->
  <div class="container-xl">
    <div class="table-responsive" style="overflow: hidden;">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Edit Contact</b></h4>
            </div>
          </div>
        </div>
        <form #contactForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" maxlength="255"
                  [(ngModel)]="addContactForm.name" name="name" #name="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="email" class="p-t-b-10">Email</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="email" maxlength="255"
                  [(ngModel)]="addContactForm.email" name="email" #email="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Phone</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="phone" maxlength="10"
                  [(ngModel)]="addContactForm.phone" name="phone" #phone="ngModel" pattern="^\d{3}\d{3}\d{4}$">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Address</label>
              </div>
              <div class="col-sm-9">
                <textarea class="form-control" id="address" [(ngModel)]="addContactForm.address" name="address"
                  #address="ngModel">></textarea>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Gender</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="gender" required [(ngModel)]="addContactForm.gender" name="gender"
                  #gender="ngModel">
              </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="UpdateContact()">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>