.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm .container-xl {
    padding: 1em 1.5em;
}

div.table-footer{
    margin: 1em 0em;
    text-align: center;
}

div.form-group.p-10.row{
    margin: 0.5em 0em;
}

div.table-title{
    background-color: aliceblue;
    padding: 1em 1em 0 1em;
}

div.table-title{
    background-color: aliceblue;
    padding: 1em 1em 0 1em;
}