  <!--CREATE FORM -->
  <div class="container-xl">
    <div class="table-responsive" style="overflow: hidden;">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div *ngIf="!isEdit" class="col-sm-6">
              <h4><b>New Contact</b></h4>
            </div>
            <div *ngIf="isEdit" class="col-sm-6">
              <h4><b>Edit Contact</b></h4>
            </div>
            <div class="col-sm-6" style="text-align: right;">
                <button class="btn" (click)="closeBtn()">
                  <i class='fas fa-arrow-circle-left'></i><span><span style="padding: 0em 1em;">BACK</span></span>
                </button>
            </div>
          </div>
        </div>
        <form #contactForm="ngForm">
          <!-- ADD CONTACT FORM -->
          <div *ngIf="!isEdit" class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" maxlength="255"
                  [(ngModel)]="addContactForm.name" name="name" #name="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="email" class="p-t-b-10">Email</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="email" maxlength="255"
                  [(ngModel)]="addContactForm.email" name="email" #email="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Phone</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="phone" maxlength="10"
                  [(ngModel)]="addContactForm.phone" name="phone" #phone="ngModel" pattern="^\d{3}\d{3}\d{4}$">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Address</label>
              </div>
              <div class="col-sm-9">
                <textarea class="form-control" id="address" [(ngModel)]="addContactForm.address" name="address"
                  #address="ngModel">></textarea>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Gender</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="gender" required [(ngModel)]="addContactForm.gender" name="gender"
                  #gender="ngModel">
              </div>
            </div>
          </div>
          <!-- UPDATE CONTACT FORM -->
          <div *ngIf="isEdit" class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Name</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" maxlength="255"
                  [(ngModel)]="addContactForm.name" name="name" #name="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="email" class="p-t-b-10">Email</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="email" maxlength="255"
                  [(ngModel)]="addContactForm.email" name="email" #email="ngModel">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Phone</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="phone" maxlength="10"
                  [(ngModel)]="addContactForm.phone" name="phone" #phone="ngModel" pattern="^\d{3}\d{3}\d{4}$">
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Address</label>
              </div>
              <div class="col-sm-9">
                <textarea class="form-control" id="address" [(ngModel)]="addContactForm.address" name="address"
                  #address="ngModel">></textarea>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Gender</label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="gender" required [(ngModel)]="addContactForm.gender" name="gender"
                  #gender="ngModel">
              </div>
            </div>
          </div>
          <div class="table-footer">
            <button *ngIf="!isEdit" class="btn btn-success" (click)="AddContact()">Submit</button>
            <button *ngIf="isEdit" class="btn btn-success" (click)="UpdateContact()">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
